.intro, .outro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    color: #ffffff;
}
.cards_container{
    position: relative;
    width: 50%;
    height: 50%;
    border-radius:0.5em;
    overflow:hidden
}

.card{
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 0.5em;
   background-color:#0000;
    z-index: 1;
}

.tag p{
    text-transform:uppercase;
    font-family: "IBM Plex Mono";
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@media (max-width:1000px){
   .cards_container{
    width: 95%;
    
   }
}