::-webkit-scrollbar{
    display: none;
}

.main{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col h1{
    text-transform: uppercase;
    font-size: clamp(3rem,10vw,15rem);
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 1;
}

.col p{
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25;
}

.section{
    position:relative;
    width: 100%;
    height: 100svh;
    min-width: 100svh;
    overflow: hidden;
}

.four{
    height: 200svh;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    transform: rotate(30deg);
    transform-origin: bottom left;
    will-change: transform;
}
.one .container{
  background-color: #e6f0ff;
  color: #003366;
}

.two .container{
  background-color: #e8f8f1;
  color: #0f5132;
}

.three .container{
  background-color: #fff3cd;
  color: #664d03;
}

.four .container{
  background-color: #fde2e4;
  color: #842029;
}

.five .container{
  background-color: #ede7f6;
  color: #4527a0;
}

.six .container{
  background-color: #e0f2fe;
  color: #075985;
}

.container .col{
flex: 1;
display: flex;
}

.container .col .img{
    width: 35%;
    height: auto;
    aspect-ratio: 4/5;
    overflow: hidden;
}

.one .container .col:nth-child(2),
.five .container .col:nth-child(2),
.six .container .col:nth-child(2){
    align-items:flex-end;
}

.two .container .col:nth-child(1),
.three .container .col:nth-child(2){
    align-items:center;
    justify-content: center;
}

.two .container .col:nth-child(2),
.three .container .col:nth-child(1){
    align-items:center;
    justify-content: space-between;
}
.four .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

}

.four .img{
    width: 30px;
    margin-bottom: 4rem;
}

.four p{
    width: 50%;
}

/* .footer{
    position: relative;
    width: 100%;
    height: 70svh;
    padding: 2rem;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */